body {
    color: white;
    background-color: blue;

}
header {
    background-color: SlateGray

/*comentário para testar*/

}
main {
background-color: blue

}
footer {
background-color: slategray;

}